#toggle{
    background-color: white;
    height: 40px;
    width: 140px;
    border: 2px solid black;
    margin: 50px auto;
    border-radius: 20px;

}

#circle{
    background-color: black;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-left: 1px;
    margin-top: 1px;
    cursor: pointer;
}
h2{
    text-align: center;
}